{% capture footer_contents %}
  {{ site.footer_text }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    Last updated: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

<footer role="contentinfo" style="margin: 0; padding: 0; display: block; width: 100%;">
  <div
    class="footer-background"
    style="background-image: url('{{ site.baseurl }}/images/background1.jpg'); background-position: center 78%; background-repeat: no-repeat; background-size: cover; height: 150px;"
  >
    <div class="container" style="position: relative; top: 50%; transform: translateY(-50%); text-shadow: 0 1px 3px rgba(0,0,0,0.5); color: #fff;">
      {{ footer_contents }}
    </div>
  </div>
</footer>
